html,
body {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   overflow-x: hidden;
   scrollbar-width: 0;
}

/* pantalla de carga  */
#loader {
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   background: #f9f9f9;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 9999;
   transition: opacity 0.6s ease, visibility 0.6s ease;
}

/* se esconde */
#loader.oculto {
   opacity: 0;
   visibility: hidden;
}

/* Contenido centrado */
.loader-contenido {
   display: flex;
   flex-direction: column;
   align-items: center;
}

/* Logo */
.loader-logo {
   width: 220px;
   height: auto;
   margin-bottom: 20px;
   animation: aparecer 1s ease forwards;
   opacity: 0;
}

@keyframes aparecer {
   to {
      opacity: 1;
   }
}

.header {
   position: relative;
   /* crea un contenedor de referencia para los hijos de adentro*/
   text-align: center;
   /* centra horizontalmente el contenido en linea */
   padding: 10px;
   /* espacio interior en los cuatro lados */
}

.header-titulo {
   width: 200px;
   height: auto;
   display: block;
   /* convierte la imagen en un bloque */
   margin: 1% auto;
   /* (ar, ab | izq, der) centra el elemento horizontalmente dentro de su contenedor */
   position: relative;
   z-index: 2;
   /* es para controlar la posicion de este bloque sobre otros elementos*/
}

.curva {
   position: absolute;
   /* posiciona el elemento respecto al padre m{as cercano (header). asi se puede colocar en cualquier parte del header*/
   top: 0;
   /* pegada al borde superior del .header */
   left: 0;
   /* borde izquierdo del .header */
   right: 0;
   /* borde derecho del .header). Tener left:0 y right:0 juntos hace que, si no hay width, el elemento se estire para ocupar el ancho del contenedor */
   margin: 0 auto;
   width: 80%;
   /* 80% del ancho del contenedor */
   z-index: 1;
   /* posicion. abajo del titulo */
}

.header-contacto-icon {
   position: relative;
   left: 18%;
   top: 9%;
   width: 30px;
   /* tamaño de los íconos */
   height: auto;
   z-index: 2;
   cursor: pointer;
}

.header-busqueda-icon {
   position: relative;
   left: 30%;
   top: 30%;
   width: 30px;
   height: auto;
   z-index: 2;
   cursor: pointer;
}

.header-fav-icon {
   position: relative;
   left: 68%;
   top: 30%;
   width: 30px;
   height: auto;
   z-index: 2;
   cursor: pointer;
}

.header-cuenta-icon {
   position: relative;
   left: 80%;
   top: 9%;
   width: 30px;
   height: auto;
   z-index: 2;
   cursor: pointer;
}


/*Parte de iconos*/
.contenedor-icono {
   display: flex;
   flex-direction: column;
   position: absolute;
   align-items: center;
   justify-content: center;
   z-index: 2;
   background-color: white;
   border-radius: 100%;
   width: 40px;
   height: 40px;
   cursor: pointer;
   text-decoration: none;
   outline: none;
}

.contenedor-icono .tooltip {
   font-size: 15px;
   font-family: "League Spartan", sans-serif;
   color: black;
   z-index: 2;
   visibility: hidden;
}

.contenedor-icono:hover .tooltip {
   visibility: visible;
}

.icon {
   color: #283558;
}

#ir-pagina-contacto {
   top: 1rem;
   left: 17rem;
}

#ir-pagina-busqueda {
   top: 2rem;
   left: 25rem;
}

#ir-pagina-favoritos {
   top: 2rem;
   right: 25rem;
}

#ir-pagina-cuenta {
   top: 1rem;
   right: 17rem;
}



/* --------------------------- */


.primera-seccion {
   display: flex;
   /* coloca los hijos uno al lado del otro */
   justify-content: space-between;
   /* separa los elementos */
   gap: 0;
}

.linea-vuelo {
   position: absolute;
   top: 10%;
   left: 100%;
}

.primera-seccion .planeta {
   width: 50%;
   /* mitad del contenedor */
   height: auto;
}

.buscador .titulo {
   width: 100%;
   font-family: "League Spartan", sans-serif;
   font-size: 35px;
   color: rgb(51, 61, 89);
   padding: 0;
}

.buscador {
   display: flex;
   flex-direction: column;
   width: 50%;
   font-family: "Hammersmith One", sans-serif;
   align-items: center;
   gap: 7rem;
   padding: 2rem;
}

.buscador #contenedor-salida {
   width: 100%;
   display: flex;
   align-items: start;
}

.buscador input {
   color: rgb(12, 12, 12);
   font-size: 16px;
   padding: 10px 0px 10px 20px;
   /* arriba, derecha, abajo, izquierda */
   width: 300px;
}

.buscador #contenedor-destino {
   width: 100%;
   display: flex;
   justify-content: end;
}


#boton-busqueda {
   font-family: "League Spartan", sans-serif;
   font-size: 20px;
   padding: 15px;
   background-color: #ffffff;
   color: #444f6e;
   border: none;
   cursor: pointer;
   width: 30%;
}

#boton-busqueda:hover {
   background-color: #444f6e;
   /* cambia el color del botón cuando el mouse está encima */
   color: #ffffff;
}

.lista {
   list-style: none;
   padding: 5px;
   margin: 0;
   border: 1px solid #bbb;
   border-radius: 6px;
   width: 220px;
   background: white;
   position: absolute;
   display: none;
}

.lista li {
   padding: 6px;
   cursor: pointer;
}

.lista li:hover {
   background: #eee;
}




/* --------------------------- */

.segunda-seccion {
   position: absolute;
   background-color: #ffffff;
   /* color de fondo general (opcional) */
   height: 100%;
   width: 100%;
}

.segunda-seccion .titulo {
   position: absolute;
   padding: 50px 0px 0px 70px;
   /* arriba, derecha, abajo, izquierda */
   font-size: 40px;
   font-family: "League Spartan", sans-serif;
   color: rgb(51, 61, 89);
}

.segunda-seccion .botones-estaciones {
   position: absolute;
   padding: 117px 0px 0px 70px;
   margin-right: 5px;
   font-family: "Hammersmith One", sans-serif;
   color: rgb(51, 61, 89);
}

.segunda-seccion .botones-estaciones .boton {
   font-size: 13px;
   background-color: #ffffff;
   color: #545454;
   border: 1px solid #545454;
   border-radius: 20px;
   padding: 8px 16px;
   margin-top: 3%;
   cursor: pointer;
   transition: background-color 0.3s, color 0.3s;
   /*transition hace que los cambios sean tranqui*/
}

.segunda-seccion .botones-estaciones .boton.seleccionado {
   background-color: #333d59;
   color: white;
}

/* el contenedor está listo, no tocar */
.segunda-seccion .carrusel-estaciones {
   position: relative;
   width: 100%;
   display: flex;
   align-items: center;
   transition: transform 0.5s ease;
   padding: 0% 0% 0% 4.5%;
   margin-top: 13%;
   gap: 20px;
}

.segunda-seccion .carrusel-estaciones .img {
   width: 290px;
   flex-shrink: 0;
   /* para que las imagenes mantengan su tamaño y no se adpten al contenedor */
}

.segunda-seccion .boton-anterior,
.segunda-seccion .boton-siguiente {
   position: absolute;
   background: rgba(51, 61, 89, 1);
   /* transparente */
   color: #fff;
   border-radius: 50%;
   /* circulo*/
   border: none;
   width: 40px;
   /* ancho del círculo */
   height: 40px;
   left: 45%;
   margin-top: 1%;
   cursor: pointer;
}

.segunda-seccion .boton-siguiente {
   left: 53%;
}

/* ---------------------------------------------------------------------*/

.tercera-seccion {
   position: absolute;
   margin-top: 43%;
   height: 100%;
   width: 100%;
}

.tercera-seccion .titulo {
   position: absolute;
   padding: 50px 0px 0px 70px;
   /* arriba, derecha, abajo, izquierda */
   font-size: 40px;
   font-family: "League Spartan", sans-serif;
   color: #333d59;
}

.tercera-seccion .en-oferta {
   color: #af4848;
}

.tercera-seccion .botones-familia {
   display: flex;
   gap: 5px;
   padding: 117px 0px 0px 70px;
   font-family: "Hammersmith One", sans-serif;
   color: rgb(51, 61, 89);
}

.tercera-seccion .botones-familia .boton {
   font-size: 13px;
   background-color: #ffffff;
   color: #545454;
   border: 1px solid #545454;
   border-radius: 20px;
   padding: 8px 16px;
   margin-top: 1%;
   cursor: pointer;
   transition: background-color 0.3s, color 0.3s;
   /*transition hace que los cambios sean tranqui*/
}

.tercera-seccion .botones-familia .boton.seleccionado {
   background-color: #333d59;
   color: white;
}

/* el contenedor está listo, no tocar */
.tercera-seccion .carrusel-familia {
   position: relative;
   width: 100%;
   display: flex;
   align-items: center;
   transition: transform 0.5s ease;
   padding: 0% 0% 0% 4.5%;
   margin-top: 3%;
   gap: 20px;
}

.tercera-seccion .carrusel-familia .img {
   width: 290px;
   flex-shrink: 0;
   /* para que las imagenes mantengan su tamaño y no se adpten al contenedor */
}

.tercera-seccion .boton-anterior-dos,
.tercera-seccion .boton-siguiente-dos {
   position: absolute;
   background: rgba(51, 61, 89, 1);
   /* transparente */
   color: #fff;
   border-radius: 50%;
   /* circulo*/
   border: none;
   width: 40px;
   /* ancho del círculo */
   height: 40px;
   left: 45%;
   margin-top: 1%;
   cursor: pointer;
}

.tercera-seccion .boton-siguiente-dos {
   left: 53%;
}


/* ---------------------------------------------------------------------*/
.cuarta-seccion {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   /* centra todo horizontalmente */
   justify-content: center;
   /* centra vertical si hiciera falta */
   margin-top: 85%;
}



.cuarta-seccion .titulo {
   font-size: 100px;
   font-family: "League Spartan", sans-serif;
   color: #333d59;
   text-align: center;
   /* centra el texto */
   margin: 10% 0px 0px 0px;
}

.cuarta-seccion .texto {
   font-size: 20px;
   font-family: "League Spartan", sans-serif;
   color: #333d59;
   text-align: center;
   /* centra el texto */
   margin-bottom: 10%;
}


.cuarta-seccion .contenedor-carrusel-videos {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 20%;
}


.cuarta-seccion .contenedor-carrusel-videos .carrusel-videos {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 60px;
   overflow: hidden;
   width: 90%;
   height: 420px;
   position: relative;
}


.cuarta-seccion .contenedor-carrusel-videos .carrusel-videos .item {
   display: flex;
   align-items: center;
   justify-content: center;

   aspect-ratio: 16 / 9;
   width: 420px;
   transition: transform 0.35s ease, opacity 0.25s ease;
   opacity: 0.7;
   overflow: hidden;
}


.cuarta-seccion .contenedor-carrusel-videos .carrusel-videos .item iframe {
   width: 100%;
   height: 100%;
   border: none;
}


.cuarta-seccion .contenedor-carrusel-videos .carrusel-videos .item.active {
   transform: scale(1.75);
   opacity: 1;
   z-index: 5;
}


.cuarta-seccion .boton-anterior-tres,
.cuarta-seccion .boton-siguiente-tres {
   position: absolute;
   background: rgba(51, 61, 89, 1);
   color: #fff;
   border-radius: 50%;
   border: none;
   width: 50px;
   height: 50px;
   transform: translateY(-50%);
   cursor: pointer;
   margin-top: 40%;
   left: 43%;
}


.cuarta-seccion .boton-siguiente-tres {
   left: 53%;
}


.footer {
   background-color: #333d59;
   padding: 50px 0;
   text-align: center;
}

.footer-contenido span {
   color: #af4848;
}

.footer-contenido h3 {
   margin-bottom: 10px;
   font-size: 60px;
   font-family: League Spartan, sans-serif;
   color: #ffffff;
}

.footer-contenido p {
   margin: 2px 0;
   font-size: 14px;
   font-family: "Hammersmith One", sans-serif;
   color: #0e162c;
}






.pagina-contacto {
   background-color: #ffffff;
   height: 80%;
   width: 100%;
}

.pagina-contacto .titulo-contacto {
   position: relative;
   font-size: 40px;
   font-family: "League Spartan", sans-serif;
   color: rgb(51, 61, 89);
   text-align: center;
   /* centra el texto */
   padding: 0%;
}

.contenedor-formulario {
   position: relative;
   left: 35.5%;
   width: 25%;
   height: 80%;
   border: 1px solid #242424;
   padding: 0% 2% 2% 2%;
   margin-bottom: 5%;
   /* arriba, derecha, abajo, izquierda */
}

.contenedor-texto {
   font-family: "League Spartan", sans-serif;
   color: #333d59;
   font-weight: bold;
   font-size: 30px;
   z-index: 10;
   margin-bottom: 0%;
}

.contenedor-formulario .formulario {
   position: relative;
   font-family: "League Spartan", sans-serif;
   font-size: 20px;
   padding: 2% 2% 2% 2%;
   width: 95%;
   z-index: 5;
}

.contenedor-formulario .mensaje {
   position: relative;
   font-family: "League Spartan", sans-serif;
   font-size: 20px;
   padding: 2% 2% 2% 2%;
   width: 95%;
   z-index: 5;
   height: 80px;

}

.contenedor-formulario .enviar-formulario {
   font-family: "League Spartan", sans-serif;
   font-size: 20px;
   padding: 10px;
   width: 100%;
   /* Hace que el botón ocupe el 95% del ancho */
   background-color: #ffffff;
   color: #444f6e;
   border: none;
   cursor: pointer;
   z-index: 5;
   margin-top: 10px;
   /* Esto le da un pequeño espacio arriba del botón */
}

.contenedor-formulario .enviar-formulario:hover {
   background-color: #444f6e;
   /* cambia el color del botón cuando el mouse está encima */
   color: #ffffff;
}


/* registro */

.pagina-registro {
   margin-top: 2%;
   margin-left: 8%;
   margin-bottom: 20%;
}


.pagina-registro .mensaje-registro {

   font-family: "League Spartan", sans-serif;
   font-size: 35px;
   color: #323b54;
   margin-left: 37%;
   margin-bottom: 3%;


}

.pagina-registro body {
   margin: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   justify-content: space-between;
}



.pagina-registro .contenedor {
   width: 360px;
   padding: 10px 30px 15px 30px;
   border: 1px solid #0b1725;
   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.pagina-registro .formulario h2 {
   text-align: center;
   margin-bottom: 30px;
   font-size: 35px;
   font-family: "League Spartan", sans-serif;
   font-weight: bold;
   color: #0b1725;
}

.pagina-registro .input {
   margin-bottom: 18px;
   display: flex;
   flex-direction: column;
}

.pagina-registro .input label {
   margin-bottom: 6px;
   font-size: 20px;
   font-weight: bold;
   font-family: "League Spartan", sans-serif;
   color: #0b1725;
}

.pagina-registro .input input {
   padding: 10px 12px;
   border: 1px solid #0b1725;
   outline: none;
   color: #0b1725;
   font-size: 14px;
   font-family: "Hammersmith One", sans-serif;
}

.pagina-registro .boton-registro {
   font-family: "League Spartan", sans-serif;
   font-weight: bold;
   font-size: 20px;
   padding: 10px;
   width: 100%;
   /* Hace que el botón ocupe el 95% del ancho */
   background-color: #ffffff;
   color: #444f6e;
   border: none;
   cursor: pointer;
   z-index: 5;
   margin-top: 20px;
   margin-bottom: 20px;
   transition: 0.3;
}

.pagina-registro .boton-registro:hover {
   background-color: #444f6e;
   /* cambia el color del botón cuando el mouse está encima */
   color: #ffffff;

}


.ir-a-login {
   text-decoration: none;
}

.ir-a-login span {
   font-size: 16px;
   font-family: "Hammersmith One", sans-serif;
   font-weight: bold;
   color: #0b1725;
}


/* login */

.pagina-login {
   margin-top: 2%;
   margin-left: 8%;
   margin-bottom: 20%;
}

.pagina-login .mensaje-login {

   font-family: "League Spartan", sans-serif;
   font-size: 35px;
   color: #323b54;

   margin-left: 38%;
   margin-bottom: 3%;


}

.pagina-login body {
   margin: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

.pagina-login .contenedor {
   width: 360px;
   padding: 10px 30px 15px 30px;
   border: 1px solid #0b1725;
   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.pagina-login .formulario h2 {
   text-align: center;
   margin-bottom: 30px;
   font-size: 35px;
   font-family: "League Spartan", sans-serif;
   font-weight: bold;
   color: #0b1725;
}

.pagina-login .input {
   margin-bottom: 18px;
   display: flex;
   flex-direction: column;
}

.pagina-login .input label {
   margin-bottom: 6px;
   font-size: 20px;
   font-weight: bold;
   font-family: "League Spartan", sans-serif;
   color: #0b1725;
}

.pagina-login .input input {
   padding: 10px 12px;
   border: 1px solid #0b1725;
   outline: none;
   color: #0b1725;
   font-size: 14px;
   font-family: "Hammersmith One", sans-serif;
}

.pagina-login .boton-registro {
   font-family: "League Spartan", sans-serif;
   font-weight: bold;
   font-size: 20px;
   padding: 10px;
   width: 100%;
   /* Hace que el botón ocupe el 95% del ancho */
   background-color: #ffffff;
   color: #444f6e;
   border: none;
   cursor: pointer;
   z-index: 5;
   margin-top: 20px;
   margin-bottom: 20px;
   transition: 0.3;
}

.pagina-login .boton-registro:hover {
   background-color: #444f6e;
   /* cambia el color del botón cuando el mouse está encima */
   color: #ffffff;

}

.ir-a-registro {
   text-decoration: none;
}

.ir-a-registro span {
   font-size: 16px;
   font-family: "Hammersmith One", sans-serif;
   font-weight: bold;
   color: #0e162c;
}
